/* *
{
    margin:0 auto;
    padding:0;
}
.simple
{
    width:100%;
    height: 60px;
    background-color: antiquewhite;
    display: flex;
}
.simple>div
{
    border:1px solid red;
    flex:1;
    color:red;
}

.menu
{
    flex:3 !important;
} */


*{margin:0 auto;padding:0}.simple{width:100%;height:60px;background-color:antiquewhite;display:flex}.simple>div{border:1px solid red;flex:1;color:red}.menu{flex:3!important}