*
{
    margin:0 auto;
    padding:0;
}
.side
{
    width:4.6vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    float:left;
    padding:10px;
    box-sizing: border-box;
    overflow: hidden;
    transition-duration: 300ms;
}
ul
{
    list-style-type: none;
    width:15vw;
}
ul li
{
    padding:10px;
    /* background-color: aquamarine; */
    margin-top:5px;
    color:white;
    font-size: 25px;
}
ul a
{
    text-decoration: none;
    margin-left:15px;
    color:white;
    font-size: 15px;
}


.side:hover
{
    width: 15vw;
    transition-duration: 300ms;
}
ul li:hover
{
    background-color: white;
    color:black;
    
}
ul li:hover a
{
    color:black;
}
